<%= render 'pages/home' unless user_signed_in? %>


<div id="photos" class="transitions-enabled">
  <% @photos.each do |photo| %>
    <div class="box panel panel-default">
          <%= link_to image_tag(photo.image.url(:medium)), photo %>
        <div class="panel-body">
          <div class="panel-heading center">
              <p><strong><%= photo.title %></strong></p>
           
 </div>
              <p><%= photo.text %></p>
         </div> 
<script language="javascript">
 var today = new Date();
 document.write(today);
 </script>




 
    </div>
  <% end %>
</div>

<div class="center">
<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>

